* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: white;
  background-color: #20131f;
  font-family: Lato, sans-serif;
  margin-top: 40px;
}

.aplicacion-tareas {
  text-align: -webkit-center;
  align-items: center;
  justify-content: center;
}

.contenedor-titulo {
  color: #d1d1d1;
  font-size: 20px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

.contenedor-lista-tareas {
  width: 600px;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
}

.contenedor-lista-tareas h1 {
    color: #131320;
    font-family: Roboto, sans-serif;
    text-align: center;
    margin: 10px 0;
}

@media (max-width: 600px) {
  .contenedor-lista-tareas {
    width: 90%;
    min-height: 500px;
    background-color: #d0d0d5;
    padding: 25px;
    margin: 10px;
    border-radius: 26px;
  }
}

