.formulario-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;     
}

.tarea-input {
  width: 70%;
  font-size: 18px;
  background-color: white;
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #4f0052;
  outline: none;
}

.tarea-boton {
  padding: 16px;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  outline: none;
  background: #4f0052;
  color: #fff;
  text-transform: capitalize;
}

.tarea-icono {
  width: 25px;
  height: 25px;
  margin: 5px;
}